.header {
  background: linear-gradient(0deg, white 1%, #d0f4ba 24%, #b0ef8e 51%, #a1ef7a 76%);
  font-size: bolder; }

.header_imagenHeader {
  align-items: flex-start;
  width: 100px; }

.header_menu {
  color: #132A13;
  font-size: 1.5rem;
  margin: 0.2rem;
  font-weight: bolder; }

@media only screen and (min-width: 768px) {
  .header_imagenHeader {
    width: 150px; }
  .header_menu {
    font-size: 2rem;
    margin: 0.3rem; } }

@media only screen and (min-width: 1024px) {
  .header_imagenHeader {
    width: 200px;
    margin: 2rem 24rem 2rem 2rem; }
  .header_menu {
    font-size: 2.4rem;
    margin: 0.3rem; } }

@media only screen and (min-width: 1300px) {
  .header_imagenHeader {
    width: 200px;
    margin: 2rem 55rem 2rem 2rem; }
  .header_menu {
    font-size: 2.4rem;
    margin: 0.3rem; } }

@media only screen and (min-width: 1600px) {
  .header_imagenHeader {
    margin: 2rem 75rem 2rem 2rem; } }

@media only screen and (min-width: 1800px) {
  .header_imagenHeader {
    margin: 2rem 95rem 2rem 2rem; } }

.footer {
  background: white;
  background: linear-gradient(180deg, white 1%, #d0f4ba 24%, #b0ef8e 51%, #a1ef7a 76%);
  width: auto;
  height: 18rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18rem;
  align-items: center;
  justify-content: center; }

.footer_left {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 1.2rem; }

.footer_adelante {
  text-align: center;
  font-size: 1.2rem;
  line-height: 3;
  display: flex;
  flex-direction: column;
  margin: 1rem; }

.footer_right {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 0rem;
  font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  .footer {
    height: 22rem;
    grid-template-rows: 22rem; }
  .footer_left {
    font-size: 1.5rem; }
  .footer_adelante {
    font-size: 1.5rem; }
  .footer_right {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1024px) {
  .footer {
    height: 24rem;
    grid-template-rows: 24rem; }
  .footer_left {
    font-size: 2rem;
    line-height: 2rem; }
  .footer_adelante {
    font-size: 2rem;
    line-height: 4rem; }
  .footer_right {
    font-size: 2rem;
    line-height: 2rem; } }

.titulos {
  color: black;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  margin: 2rem; }

.subtitulos {
  font-size: 2.5rem;
  text-align: center;
  margin: 0.5rem;
  text-decoration: underline; }

.subtitulos2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.2rem;
  text-decoration: underline; }

.links {
  color: black;
  font-size: 1.5rem; }

.links2 {
  color: black;
  text-decoration: none; }

.texto {
  text-align: center;
  font-size: 2rem;
  margin: 1rem; }

.espacios {
  margin: 1rem; }

.contacto {
  margin: 1rem;
  border: 0.2rem solid;
  padding: 1rem;
  width: 90%;
  height: 35rem;
  align-items: center;
  font-size: 1.5rem; }

.textoContacto {
  font-size: 4rem; }

@media only screen and (min-width: 768px) {
  .titulos {
    font-size: 3.5rem;
    margin-top: 4rem; }
  .subtitulos {
    font-size: 3rem; }
  .subtitulos2 {
    font-size: 2rem;
    margin-top: 4rem; }
  .links {
    font-size: 2rem;
    position: absolute;
    bottom: 0px;
    right: 35px; }
  .texto {
    font-size: 2.2rem; }
  .espacios {
    margin: 4rem; }
  .novedades {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; }
  .textoDocentes {
    margin: 4rem 1rem 0rem 1rem; } }

@media only screen and (min-width: 1024px) {
  .titulos {
    font-size: 4.5rem;
    margin: 4rem; }
  .subtitulos {
    font-size: 3.5rem;
    margin-bottom: 4rem; }
  .subtitulos2 {
    margin: 2rem;
    font-size: 3rem; }
  .links {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0px;
    right: 5px; }
  .texto {
    font-size: 2.5rem;
    margin: 4rem; }
  .espacios {
    margin: 2rem 1rem 4rem 1rem; } }

@media only screen and (min-width: 1400px) {
  .links {
    right: 25px; } }

@media only screen and (min-width: 1600px) {
  .links {
    right: 40px; } }

@media only screen and (min-width: 1800px) {
  .links {
    right: 60px; } }

.imagenCiudades {
  width: 250px;
  height: 180px; }

.videos {
  width: 28rem;
  height: 20rem;
  margin: 1.3rem; }

.imgFooter {
  width: 3rem;
  height: 3rem;
  margin: 3rem 0rem 3rem 0rem; }

.imgDocentes {
  width: 250px;
  height: 200px; }

.imgContacto {
  width: 40px; }

@media only screen and (min-width: 768px) {
  .imagenCiudades {
    width: 250px;
    height: 200px; }
  .videos {
    width: 22rem;
    height: 15rem;
    margin: 1.3rem; }
  .imgDocentes {
    width: 180px;
    height: 130px; } }

@media only screen and (min-width: 1024px) {
  .imagenCiudades {
    width: 230px;
    height: 180px; }
  .videos {
    width: 28rem;
    height: 16rem; }
  .imgFooter {
    width: 4rem;
    height: 4rem;
    margin: 4rem; }
  .imgDocentes {
    width: 250px;
    height: 200px; } }

@media only screen and (min-width: 1400px) {
  .imagenCiudades {
    width: 260px;
    height: 210px; }
  .videos {
    width: 36rem;
    height: 24rem; } }

@media only screen and (min-width: 1600px) {
  .imagenCiudades {
    width: 290px;
    height: 240px; }
  .videos {
    width: 40rem;
    height: 28rem; } }

@media only screen and (min-width: 1800px) {
  .imagenCiudades {
    width: 290px;
    height: 240px; }
  .videos {
    width: 44rem;
    height: 32rem; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif; }

.paginaPrincipal {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto; }

.docentes {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  margin-top: 2rem;
  font-size: 1.5rem; }

.iconos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12rem 12rem;
  text-align: center;
  justify-content: center;
  grid-gap: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 1.5rem; }

.paginaContacto {
  margin-left: 38px; }

@media only screen and (min-width: 768px) {
  .paginaPrincipal {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; }
  .docentes {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-size: 1.5rem; }
  .iconos {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5rem; }
  .cursosBody {
    position: relative;
    height: 55rem; }
  .paginaContacto {
    margin-left: 50px; } }

@media only screen and (min-width: 1024px) {
  .paginaPrincipal {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto; }
  .docentes {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-size: 2rem;
    margin-top: 4rem; }
  .paginaContacto {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40rem; }
  .iconos {
    font-size: 2rem;
    margin: 6.3rem; }
  .cursosBody {
    position: relative;
    height: 100rem; } }

@media only screen and (min-width: 1400px) {
  .cursosBody {
    height: 75rem; } }

@media only screen and (min-width: 1600px) {
  .cursosBody {
    height: 70rem; } }

@media only screen and (min-width: 1800px) {
  .cursosBody {
    height: 67rem; } }

table {
  margin-top: 2rem; }
  table .table_titulosTabla {
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    border: solid 0.1rem black; }
  table .tabla_bodyTabla {
    margin: 2rem;
    border: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    border: solid 0.1rem black; }

@media only screen and (min-width: 768px) {
  table {
    margin-top: 2.5rem; }
    table .titulosTabla {
      font-size: 2.5rem; }
    table .bodyTabla {
      font-size: 2rem; } }

@media only screen and (min-width: 1024px) {
  table {
    margin: 2.5rem 2rem 2.5rem 2rem; }
    table .titulosTabla {
      font-size: 2.5rem; }
    table .bodyTabla {
      font-size: 2rem; } }
