*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.paginaPrincipal{
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
.docentes{
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top:2rem;
    font-size: 1.5rem;
}
.iconos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 12rem 12rem;
    text-align: center;
    justify-content: center;
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 1.5rem;
}
.cursosBody{
    position: relative;
}

@media only screen and (min-width: 768px) {
    .paginaPrincipal{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
    }
    .docentes{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        font-size: 1.5rem;
    }
    .iconos{
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {  
    .docentes{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        font-size: 2rem;
        margin-top: 4rem;
    }
    .paginaContacto{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 40rem;
    }
    .iconos{
        font-size: 2rem;
        margin: 6.3rem    
    }
}