.header{
    background: linear-gradient(0deg, rgba(255,255,255,1) 1%, rgba(208,244,186,1) 24%, rgba(176,239,142,1) 51%, rgba(161,239,122,1) 76%);
    font-size: bolder;
}

.header_imagenHeader{
    align-items: flex-start;
    width: 100px;
}

.header_menu{
    color:#132A13;
    font-size: 1.5rem;
    margin: 0.2rem;
    font-weight: bolder;
}

@media only screen and (min-width: 768px) {
    .header_imagenHeader{
        width: 150px;
    }
    
    .header_menu{
        font-size: 2rem;
        margin: 0.3rem;
    }
}

@media only screen and (min-width: 1024px) {  
    .header_imagenHeader{
        width: 200px;
        margin: 2rem 24rem 2rem 2rem;
    }
    
    .header_menu{
        font-size: 2.4rem;
        margin: 0.3rem;
    }
}    
@media only screen and (min-width: 1300px) {  
    .header_imagenHeader{
        width: 200px;
        margin: 2rem 55rem 2rem 2rem;
    }
    
    .header_menu{
        font-size: 2.4rem;
        margin: 0.3rem;
    }
} 

@media only screen and (min-width: 1600px) {  
    .header_imagenHeader{
        margin: 2rem 75rem 2rem 2rem;
    }
    
} 
@media only screen and (min-width: 1800px) {  
    .header_imagenHeader{
        margin: 2rem 95rem 2rem 2rem;
    }
    
} 