
.imagenCiudades{
    width: 250px;
    height: 180px;
}
.videos{
    width: 28rem;
    height: 20rem;
    margin: 1.3rem;
}
.imgFooter{ 
    width: 3rem;
    height: 3rem;
    margin: 3rem 0rem 3rem 0rem;
}
.imgDocentes{
    width: 250px;
    height: 200px;
}
.imgContacto{
    width:40px;
}
@media only screen and (min-width: 768px) {
    .imagenCiudades{
        width: 150px;
        height: 100px;
    }
    .videos{
        width: 22rem;
        height: 15rem;
        margin: 1.3rem;
    }
    .imgDocentes{
        width: 200px;
        height: 150px;
    }
}

@media only screen and (min-width: 1024px) {  
    .imagenCiudades{
        width: 250px;
        height: 200px;
    }
    .videos{
        width: 37rem;
        height: 25rem;
    }
    .imgFooter{ 
        width: 4rem;
        height: 4rem;
        margin: 4rem;
    }
    .imgDocentes{
        width: 250px;
        height: 200px;
    }
}