
.imagenCiudades{
    width: 250px;
    height: 180px;
}
.videos{
    width: 28rem;
    height: 20rem;
    margin: 1.3rem;
}
.imgFooter{ 
    width: 3rem;
    height: 3rem;
    margin: 3rem 0rem 3rem 0rem;
}
.imgDocentes{
    width: 250px;
    height: 200px;
}
.imgContacto{
    width:40px;
}
@media only screen and (min-width: 768px) {
    .imagenCiudades{
        width: 250px;
        height: 200px;
    }
    .videos{
        width: 22rem;
        height: 15rem;
        margin: 1.3rem;
    }
    .imgDocentes{
        width: 180px;
        height: 130px;
    }
}

@media only screen and (min-width: 1024px) {  
    .imagenCiudades{
        width: 230px;
        height: 180px;
    }
    .videos{
        width: 28rem;
        height: 16rem;
    }
    .imgFooter{ 
        width: 4rem;
        height: 4rem;
        margin: 4rem;
    }
    .imgDocentes{
        width: 250px;
        height: 200px;
    }
}
@media only screen and (min-width: 1400px) {  
    .imagenCiudades{
        width: 260px;
        height: 210px;
    }
    .videos{
        width: 36rem;
        height: 24rem;
    }
}

@media only screen and (min-width: 1600px) {  
    .imagenCiudades{
        width: 290px;
        height: 240px;
    }
    .videos{
        width: 40rem;
        height: 28rem;
    }
}
@media only screen and (min-width: 1800px) {  
    .imagenCiudades{
        width: 290px;
        height: 240px;
    }
    .videos{
        width: 44rem;
        height: 32rem;
    }
}