table{
    margin-top: 2rem;
    max-width: 90%;
    .table_titulosTabla{
        margin: 0.5rem;
        font-size: 1.5rem;
        text-align: center;  
        border: solid 0.1rem black;
    }
    .tabla_bodyTabla{
        margin: 2rem;
        border: 0.5rem;
        font-size: 1.2rem;
        text-align: center;
        border: solid 0.1rem black;
    }
}


@media only screen and (min-width: 768px) {
    table{
        margin-top: 2.5rem;
            .table_titulosTabla{
                font-size: 2.5rem;
        }
        .tabla_bodyTabla{
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 1024px) {  
    table{
        margin: 2.5rem 2rem 2.5rem 2rem;
            .table_titulosTabla{
                font-size: 2.5rem;
            }
            .tabla_bodyTabla{
                font-size: 2.5rem;
            }
    }
}
@media only screen and (min-width: 1300px) {  
    table{
        max-width: 70%;
        margin: 4rem;
    }

}